@model RecipeCreateViewModel
@{

}

<div id="Ingredients_0">
    <input asp-for="Ingredients[0].Measurement" class="IngredientMeasurement" placeholder="Amount"
    ><input asp-for="Ingredients[0].Name" class="IngredientName" placeholder="Ingredient"><br>
</div>