@section Styles {
    <link rel="stylesheet" href="~/css/recipe.css">
}

@section Scripts {
    <script src="~/js/recipeCreateScripts.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@model RecipeBox2.Models.RecipeCreateViewModel
<form asp-action="Create" asp-controller="Recipes" method="POST">
    <div class="RecipeNamePane">
        <label asp-for="Name"></label><br>
        <input asp-for="Name"><br>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="IngredientDirectionFlexContainer">
        <div class="RecipeIngredientsPane" id="RecipeIngredientsPane">
            <label asp-for="Ingredients"></label>
            <button type="button" onclick="addIngredientFields()">+</button>
            <div id="Ingredients_0">
                <input asp-for="Ingredients[0].Measurement" class="IngredientMeasurement" placeholder="Amount"
                ><input asp-for="Ingredients[0].Name" class="IngredientName" placeholder="Ingredient"><br>
            </div>
        </div>

        <div class="RecipeDirectionsPane">
            <label asp-for="Directions"></label>
            <textarea asp-for="Directions" class="Directions"></textarea>
        </div>
    </div>

    <br><input type="submit" value="Save Recipe">
</form>
